.p-relative {
    position: relative;
}

.btn_create_general {
    position: absolute;
    top: 10px;
    right: 0;
}

@media (max-width: 768px) {
    .btn_create_general {
        position: initial;
    }
}